<h4><%= @lesson.name %></h4>
<%= form_for @lesson do |f| %>
  <%= f.fields_for :results do |builder| %>
    <%= render "result_field", f: builder %>
  <% end %>
  <%= f.submit :submit, class: "btn btn-primary btn-default" %>
<% end %>

