<% @categories.each.with_index do |item, index| %>
  <div class="row">
    <div class="col-md-6 <%= get_pull(index) %>">
      <h4>
        <span><%= item.name %></span>
      </h4>
      <%= item.description %>
      <%= link_to t("category.start"), "#", class: "btn btn-default pull-right" %>
    </div>
    <textarea class="text-area col-md-6 <%= get_pull(index) %>"></textarea>
  </div>
  <div class="clear"></div>
<% end %>
<%= will_paginate @categories %>
